
body{
    background-color:#eae7d2;
    width:720px;
    border:5px;
    border-color:pink;
    margin:auto;
}
#container{
    background-color: #51473d;
    
    
}

#topbar{
    font-style: oblique;
    color:#797066;
    width: 720px;
    height:272px;
    text-align:right;
    background-image: url('pics/coffey.jpg');
    background-size:100% 250px;
    background-repeat: no-repeat;
    background-position:bottom;

}

#menu {
    width: 920px;
    height:47px;
}

#menu li {
    list-style: none;
    float:left;
    margin-left:2px;
    font-family:Times New Roman;
    text-transform:capitalize;
    background-color:#797066;
}

#menu a {
        font-size: 15px;
        padding:12px; 
        text-decoration:none;
        font-size: 20px;
        display: none;
}

#menu li a{
    display: inline-block;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #394747;
    background-color: #9c9084; 

}

a:active {
    padding:15px; 
    color: #394747;
}

#menu li:first-child a
{
    
     background-color: #eae7d2;
}


#content{
    background-color:#eae7d2;
    padding-left:15px;
}
#maincontent{
    float:left;
    width: 400px;
    background-color:#eae7d2;
    font-family:Times New Roman;
    color:#797066;
    font-size:20px;
    line-height: 150%;
    padding-right:10px;

}
 #maincontent img{
    float:left;
    padding-right:20px;
}

#subcontent{
    float:left;
    width: 230px;
    border-left:3px dotted #51473d;
    border-color:none;
    padding-left:23px;
    background-color:#eae7d2;
    margin-top:20px;
    line-height: 150%;
    color:#797066;
}
#subcontent p
{
    word-spacing:3px;
    font-family:verdana;
    font-size:12px;
}

 #subcontent h2 {
    font-size:16px;
    padding-top:30px;
}

#subcontent li {
    list-style: none; 
    float:left;
    
}
#subcontent a {
    text-decoration:none;
     color:#797066;
}

#bottomcontent{
    float:left;
    width:920px;
    font-style: oblique;
    color:#797066;
}
